body {
    background-color: whitesmoke;
}

.container {
    display: flex;
}

.sub-container {
    width: 900px;
}

h1 {
    text-align: center;
    padding-bottom: 0.7em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(46, 46, 46, 0.5);
    font-style: oblique;
    font-variant: small-caps;
    color: #186b38;
    font-size: 40px;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(46, 46, 46, 0.5);
    font-style: oblique;
    font-variant: small-caps;
    font-size: 30px;
    color: #186b38;
    text-align: center;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(46, 46, 46, 0.5);
    font-style: oblique;
    font-variant: small-caps;
    font-size: 30px;
    color: #186b38;
}

.muscle-image {
    width: 600px;
    height: 600px;
    margin-right: 20px;
    padding-left: 10%;
    padding-top: 3%;
    image-rendering: optimizeSpeed;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.workout-display {
    width: 600px;
    background: lightblue;
    border-radius: 10px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-display {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1)
}

.close-page {
    position: absolute;
    bottom: 90%;
    left: 90%;
    border-radius: 4px;
    background-color: red;
}


.workouts {
    width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.muscle-groups {
    text-align: center;
}

.workout-buttons {
    background-color: #25a79c;
    padding: 2%;
    width: 350px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    margin: 3px;
    transition: 0.3s;
    border-radius: 10px;
    outline: none;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.workout-buttons:hover {
    background-color: rgb(28, 128, 128);
}

.workout-buttons:active {
    background-color: #25a79c;
}

.muscle-groups-button {
    width: 210px;
    height: 60px;
    padding: 10px 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(0deg, rgb(103, 211, 253) 0%,rgb(64, 159, 255) 100%);
    text-align: center;
    margin: 5px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(32, 192, 255);
    border: tan;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 0px rgba(255,255,255,.5);
    transition: 0.3s;
}

.muscle-groups-button:hover {
    background: transparent;
    box-shadow: none;
    color: rgb(0, 172, 238);
    border-radius: 8px;
    border: 3px solid rgb(0, 172, 238);
}

.muscle-groups-button.pressed {
    background: transparent;
    box-shadow: none;
    color: rgb(0, 172, 238);
    border-radius: 8px;
    border: 2px solid rgb(0, 172, 238);
}